* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../photos/background.jpg);
    background-position: center center;
    background-size:cover ;
    background-color:rgba(0,0, 0,0.5);
    background-blend-mode: multiply;background-attachment:fixed;
}
.box {
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px;
}
.box1 {
    background-image: url(../photos/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.box2 {
    background-image: url(../photos/bottem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.box3 {
    background-image: url(../photos/center.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.box1 h1 {
    text-align: center;
    padding: 70px;
    text-transform: uppercase;
}
.attechment {
    clear: both;
    height: 50vh;
    background: url(../photos/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    background-attachment:fixed;
}
