* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main hr {
    color: gray;
    width: 95%;
    margin: 100px auto;
    size: 0.5;
}

.container {
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container h2 {
    font-size: 41px;
    line-height: 1.40;
    margin-bottom: 24px;
    margin-left: 5px;
}

.container h3 {
    margin-top: 20px;
    margin-left: 3px;
    font-size: 20px;
}

.container p {
    font-size: 24px;
    margin-left: 3px;
    margin-bottom: 20px;
}

.container .dwon .project p,
.work_info p , .safe p{
    font-size: 18px;
    margin-top: 20px;
}

.dwon {
    display: flex;
}

.project {
    flex-basis: 33.33%;
    height: auto;
}

.project img {
    width: 80px;
    margin-top: 31px;
    height: 80px;
}

.work , .safe{
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
}

.work_img img , .safe_img img{
    width: 500px;
}

.work_info , .safe_info {
    width: 50%;
}

.work_info button, .section5 .container button, .section6 .container button {
    background-color: #D90082;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.contect {
    display: flex;
    justify-content: space-between;
}

.contect_info {
    width: 50%;
}
.contect_info p {
    font-size: 20px;
    margin-top: 20px;
}

.live {
    width: 50%;
    float: left;
    margin-top: 22px;
}

.contect_img img {
    width: 500px;
}

.live img {
    width: 80px;
}
.section5 , .section7 {
    background-color: #1F2836;
    color: #fff;
    padding: 60px;
    margin: 50px 0px;
}
.box {
    width: 30%;
}
.box h4 {
    font-size: 25px;
}
.product {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}
.button1 {
    display: flex;
    justify-content: center;
}
.link {
    columns: 2;
    column-gap: 20px;
}
.menu {
    display: flex;
    /* justify-content: center; */
}
.sec1 {
    flex-basis: 16%;
}
.sec1 p {
    font-size: 18px;
}
