* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contener {
    width: 90%;
    height: auto;
    border: 1px solid black;
}
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
.logo {
    width: 20%;
    height: 100%;
}