* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
.main {
    height: 90vh;
    max-width: 60%;
    text-align: center;
    text-transform: capitalize;
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    margin: 30px auto;
}
.box1 {
    width: 50%;
    height: 100%;
    padding: 60px;
    position: relative;
    line-height: 40px;
    float: left;
}
h2 {
    font-size: 50px;
    font-weight: lighter;
    color: #A91D40;
}
p{
    margin: 35px;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}
span {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}
.icon1 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 160px;
    left: 35%;
    display: inline-block;
    margin:15px;
    color:#A91D40 ;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #A91D40;
}
.icon2 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 160px;
    left: 50%;
    display: inline-block;
    margin:15px;
    color:#A91D40 ;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #A91D40;
}
.box1 form input {
    margin: 10px ;
    border: none;
    padding: 25px 10px 10px 25px;
    font-size: 20px;
    background-color: #EFEFEF;
}
form a{
    color: #A91D40;
    text-decoration: none;
}
form button {
    border-radius: 20px;
    width: 100px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    height: 35px;
    color: #fff;
    background-color: #A91D40;
}
.box2 {
    background-image: url(../photos/bg.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 750px;
    height: 750px;
    position: absolute;
    top:-55px;
    left: 50%;
}