* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
@font-face {
    font-family: CaviarDreams;
    src: url(../font/CaviarDreams-webfont.woff);
}
.main {
    height: 90vh;
    max-width: 60%;
    text-align: center;
    /* text-transform: capitalize; */
    overflow: hidden;
    font-family: CaviarDreams;
    position: relative;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: -8px 8px 30px 0px rgba(0, 0, 0, 0.2);
}
.box1 {
    width: 50%;
    height: 100%;
    padding: 60px;
    position: relative;
    line-height: 40px;
    float: left;
    /* border: 2px solid black; */
}
h2 {
    font-size: 50px;
    font-weight:300px;
    color: #A91D40;
}
p{
    margin: 40px;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}
span {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}
.icon1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 166px;
    left: 35%;
    padding: 4px;
    display: inline-block;
    margin:15px;
    color:#A91D40 ;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #A91D40;
}
.icon2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 166px;
    left: 50%;
    padding: 4px;
    display: inline-block;
    margin:15px;
    color:#A91D40 ;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #A91D40;
}
.box1 form input {
    margin: 10px auto;
    border: none;
    width: 75%;
    display: inline-block;
    padding: 16px;
    font-size: 16px;
    background-color: #EFEFEF;
}
form a{
    color: #A91D40;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}
form button {
    border-radius: 20px;
    width: 100px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    height: 35px;
    color: #fff;
    background-color: #A91D40;
}
.box2 {
    background-image: url(../photos/bg.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 750px;
    height: 750px;
    position: absolute;
    top:-40px;
    left: 50%;
}